.newsPanel {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 85vw;
  height: 90vh;

  background-color: var(--divBackground);
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);

  border: none;
  border-radius: var(--borderRadius);

  background-color: var(--contentBackground);

  width: 60%;
  height: 80%;
}

.post > img {
  border-radius: 0.5vw;

  width: 50%;
  height: 50%;
}

.post > p {
  color: var(--postTextColor);
}
